* {
  box-sizing: border-box;
}
.sr-extra-sims-block {
  position: relative;
  display: flex;
  width: 100%;
  height: auto;
  border-radius: var(--srui-content-box-radius, 6px);
  background-color: var(--srui-white-color, #FFFFFF);
  box-shadow: var(--srui-default-shadow, 0 2px 4px 0 rgba(0,0,0,0.05));
  flex-direction: column;
  min-height: 125px;
  transition: max-height 250ms cubic-bezier(.27,.01,.38,1.06);
  &__header{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    border-bottom: 1px solid var(--srui-alpha-color-active, #EEEEEE);
    .sr-extra-sims-block__title {
      color: var(--srui-black-color, #000000);
      font-size: 1.125rem;
      font-weight: 700;
      letter-spacing: 0;
      line-height: var(--srui-default-line-height, 1);
    }
  }
  &__counter {
    display: flex;
    height: 60px;
    align-items: center;
    line-height: 1;
    align-items: center;
    position: relative;
    padding: 0 15px;
    justify-content: space-between;
    srui-icon {
      transition: all 250ms cubic-bezier(.27,.01,.38,1.06);
      font-size: 1.8rem;
    }
  }
  &__opened {
    srui-icon {
      transform: rotate(180deg);
    }
  }
  &__content {
    position: relative;
    transition: all 250ms cubic-bezier(.27,.01,.38,1.06);
    max-height: 85px;
    overflow: hidden;
    padding: 0 15px;
  }
}