* {
  box-sizing: border-box;
}
.sr-two-lines-price {
  position: relative;
  display: flex;
  flex-flow: column;
  width: 100%;
  background-color: transparent;
  margin-bottom: 5px;
  &__label {
    font-size: 0.825rem;
    font-weight: 700;
  }
  &__value {
    font-size: 2rem;
    font-weight: 700;
    line-height: 1;
  }
}
