* {
  box-sizing: border-box;
}
.sr-subscriber-block {
  width: 100%;
  display: flex;
  position: relative;
  padding: 20px 20px;
  flex-direction: column;
  background-color: var(--srui-white-color, #FFFFFF);
  &__name {
    font-size: 1.75rem;
    font-weight: 800;
    background: var(--srui-sbc-gradient, #E6003C);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 3px;
  }
  &__subscription {
    font-weight: 500;
    line-height: 1.2;
    color: var(--srui-gray3-color, #848484);
    font-size: 0.825rem;
  }
  &__large {
    .sr-subscriber-block__name {
      font-size: 2.25rem;
    }
    .sr-subscriber-block__subscription {
      font-size: 0.925rem;
    }
  }
}

