* {
    box-sizing: border-box;
}
.sr-nav-button {
    font-family: var(--srui-default-font-family, 'AvenirNext');
    display: flex;
    align-items: center;
    padding: 0 20px;
    border: none;
    border-left: 4px solid transparent;
    width: 100%;
    background-color: rgba(51,51,51,0);
    color: #ffffff;
    min-height: 3.75rem;
    cursor: pointer;
    justify-content: space-between;
    text-align: left;
    transition: all 250ms cubic-bezier(.27,.01,.38,1.06);
}
.sr-nav-button * {
    pointer-events: none;
}
.sr-nav-button:hover {
    background-color: rgba(51,51,51,0.1);
}
.sr-nav-button--active {
    background-color: rgba(51,51,51,0.1);
    border-left: 4px solid white;
}
.sr-nav-button:focus {
    outline: none;
}
.sr-nav-button__left {
    display: flex;
    align-items: center;
}
.sr-nav-button__label {
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.25rem;
}
.sr-nav-button__icon {
    margin: 0 0.5rem 0 0;
}