* {
  box-sizing: border-box;
}
.sr-menu-item {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  background-color: var(--srui-white-color, #ffffff);
  padding: 6px 0;
  srui-icon {
    margin-right: 7px;
  }
  &__label {
    font-size: 0.9rem;
    line-height: 1;
    color: var(--srui-gray3-color, #848484);
    font-weight: 400;
  }
}
