@font-face {
  font-family: 'AvenirNext';
  src: url("../assets/fonts/AvenirNextMedium.woff") format("woff"),
  url("../assets/fonts/AvenirNextMedium.woff2") format("woff2"),
  url("../assets/fonts/AvenirNextMedium.ttf") format("truetype"),
  url("../assets/fonts/AvenirNextMedium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'AvenirNext';
  src: url("../assets/fonts/AvenirNextDemi.woff") format('woff'),
  url("../assets/fonts/AvenirNextDemi.woff2") format('woff2'),
  url("../assets/fonts/AvenirNextDemi.ttf") format('truetype'),
  url("../assets/fonts/AvenirNextDemi.otf") format('opentype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'AvenirNext';
  src: url("../assets/fonts/AvenirNextBold.woff") format('woff'),
  url("../assets/fonts/AvenirNextBold.woff2") format('woff2'),
  url("../assets/fonts/AvenirNextBold.ttf") format('truetype'),
  url("../assets/fonts/AvenirNextBold.otf") format('opentype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'srui-icon-font';
  src:  url('../assets/fonts/srui-icon-font/srui-icon-font.eot?gye1ix');
  src:  url('../assets/fonts/srui-icon-font/srui-icon-font.eot?gye1ix#iefix') format('embedded-opentype'),
  url('../assets/fonts/srui-icon-font/srui-icon-font.ttf?gye1ix') format('truetype'),
  url('../assets/fonts/srui-icon-font/srui-icon-font.woff?gye1ix') format('woff'),
  url('../assets/fonts/srui-icon-font/srui-icon-font.svg?gye1ix#srui-icon-font') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}