* {
  box-sizing: border-box;
}
.sr-missing-credit-card {
  position: relative;
  display: flex;
  width: 100%;
  flex-direction: column;
  background-color: var(--srui-white-color, #ffffff);
  margin-bottom: 10px;
  align-items: center;
  border-radius: 6px;
  box-shadow: 0px 1px 3px #00000029;
  overflow: hidden;
  padding-bottom: 20px;
  &__header{
    width: 100%;
    height: 40px;
    background: linear-gradient(270deg, #BA2731 0%, #D74126 39%, #F47416 68%, #FFC505 100%) 0% 0%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    .sr-missing-credit-card__title {
      font-size: 	1rem;
      color: var(--srui-white-color, #ffffff);
      font-weight: 700;
      line-height: var(--srui-default-line-height, 1);
    }
  }
  &__description {
    text-align: center;
    font-size: 0.875rem;
    color: var(--srui-gray4-color, #545454);
    padding: 20px 20px 20px;
  }
  ::slotted([slot=icon_placeholder]) {
    width: 60px;
    margin-bottom: 20px;
  }
}
